---
:enabled: true
#:pulp_url: https://localhost/pulp
# Path to pulp, pulp content and mongodb directories
#:pulp_dir: /var/lib/pulp
#:pulp_content_dir: /var/lib/pulp/content
#:puppet_content_dir: /etc/puppet/environments
#:mongodb_dir: /var/lib/mongodb
