---
:enabled: true
#:pulp_url: https://localhost/
#:content_app_url: https://localhost:24816/
#:username: admin
#:password: password
#:mirror: false
#:client_authentication: ['password', 'client_certificate']
